.progressBar {
  height: 46px;
  padding: 0px;
  margin: 0px;
  background: rgba(254, 51, 255, 0.3);
  border-radius: 3px;
}

.progressBarBackground {
  height: 50px;
  background: rgba(128, 128, 128, 0.2);
  border: 2px solid rgba(256, 256, 256, 0.8);
  border-radius: 5px;
  margin: 20px;
  position: relative;
}

.title {
  font-size: 1.3em;
  color: whitesmoke;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8px;
}

.percent {
  font-size: 1.3em;
  color: whitesmoke;
  position: absolute;
  top: 8px;
  right: 5%;
}

@media (max-width: 800px) {
  .title,
  .percent {
    font-size: 1.2em;
  }
}

@media (max-width: 600px) {
  .title,
  .percent {
    font-size: 1em;
  }

  .title {
    left: 40%;
  }
}
