.logoLink img {
  width: 150px;
  height: auto;
  margin: 0px;
  left: 100px;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.title {
  text-align: center;
  font-size: 32px;
}
